

.cards{

    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
     width: 100%; 
    height: 25%;

    .cardPessoal, .cardCarreira{
    width: 100%; 
    height: 75%;
        background-color: #fff;
         border-radius: 10px;
         padding: 20px;

}
    
}
    

    

