* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #e9aecd;
}

main {
  height: 95vh;
  display: flex;
  flex-direction: column;
  padding: 0px 25px 0px 25px;

  p {
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
  }
}

input {
  margin-top: 15px;
  width: 100%;
  height: 15%;
  background-color: #f0dfdf;
  border: none;
  padding: 20px;
  border-radius: 10px;
  font-size: 1.3rem;
}

footer {
  display: flex;
  width: 100vw;
  height: 70px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #100101;
}
